THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

## First Exploration

In [46]:

import numpy as np 
import pandas as pd 

from subprocess import check_output
print(check_output(["ls", "./input"]).decode("utf8"))

aisles.csv
aisles.csv.zip
departments.csv
departments.csv.zip
order_products__prior.csv
order_products__prior.csv.zip
order_products__train 2.csv
order_products__train.csv
order_products__train.csv.zip
orders.csv
orders.csv.zip
products.csv
products.csv.zip

In [47]:
orders = pd.read_csv('./input/orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [48]:
prior = pd.read_csv('./input/order_products__prior.csv')
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [49]:
train = pd.read_csv('./input/order_products__train.csv')
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

users, identified by user_id in the orders csv, make orders which are identified by order_id;

each order of a user is characterized by an order_number which specifies when it has been made with respect to the others of the same user;

each order consists of a set of product each characterized by an add_to_cart_order feature representing the sequence in which they have been added to the cart in that order

for each user we may have n-1 prior orders and 1 train order OR n-1 prior orders and 1 test order in which we have to state what products have been reordered

In [50]:
order_prior = pd.merge(prior,orders,on=['order_id','order_id'])
order_prior = order_prior.sort_values(by=['user_id','order_id'])
order_prior.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
4089398,431534,196,1,1,1,prior,5,4,15,28.0
4089399,431534,12427,2,1,1,prior,5,4,15,28.0
4089400,431534,10258,3,1,1,prior,5,4,15,28.0
4089401,431534,25133,4,1,1,prior,5,4,15,28.0
4089402,431534,10326,5,0,1,prior,5,4,15,28.0

In [51]:
products = pd.read_csv('./input/products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [52]:
aisles = pd.read_csv('./input/aisles.csv')
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [53]:
_mt = pd.merge(train,products, on = ['product_id','product_id'])
_mt = pd.merge(_mt,orders,on=['order_id','order_id'])
mt = pd.merge(_mt,aisles,on=['aisle_id','aisle_id'])
mt.head(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle
0,1,49302,1,1,Bulgarian Yogurt,120,16,112108,train,4,4,10,9.0,yogurt
1,816049,49302,7,1,Bulgarian Yogurt,120,16,47901,train,14,4,6,16.0,yogurt
2,1242203,49302,1,1,Bulgarian Yogurt,120,16,2993,train,15,0,7,7.0,yogurt
3,1383349,49302,11,1,Bulgarian Yogurt,120,16,41425,train,4,3,8,14.0,yogurt
4,1787378,49302,8,0,Bulgarian Yogurt,120,16,187205,train,5,4,14,30.0,yogurt
5,2445303,49302,2,1,Bulgarian Yogurt,120,16,199120,train,49,3,20,7.0,yogurt
6,2853065,49302,12,1,Bulgarian Yogurt,120,16,145852,train,7,1,19,15.0,yogurt
7,3231517,49302,6,1,Bulgarian Yogurt,120,16,63189,train,42,2,13,7.0,yogurt
8,68474,6104,5,1,Whole Milk Plain Yogurt,120,16,67333,train,14,4,17,4.0,yogurt
9,78197,45521,4,1,Organic Plain Cream Top Yogurt,120,16,158104,train,5,5,18,27.0,yogurt

In [54]:
mt['product_name'].value_counts()[0:10]

Banana                    18726
Bag of Organic Bananas    15480
Organic Strawberries      10894
Organic Baby Spinach       9784
Large Lemon                8135
Organic Avocado            7409
Organic Hass Avocado       7293
Strawberries               6494
Limes                      6033
Organic Raspberries        5546
Name: product_name, dtype: int64

In [55]:
len(mt['product_name'].unique())

39123

### Product Types

There are 143 types of product (aisle).

In [18]:
len(mt['aisle'].unique())

134

Fresh vegetables and fresh fruits are the best selling goods.

In [19]:
mt['aisle'].value_counts()[0:10]

fresh vegetables                 150609
fresh fruits                     150473
packaged vegetables fruits        78493
yogurt                            55240
packaged cheese                   41699
water seltzer sparkling water     36617
milk                              32644
chips pretzels                    31269
soy lactosefree                   26240
bread                             23635
Name: aisle, dtype: int64

In [20]:
cust_prod = pd.crosstab(mt['user_id'], mt['aisle'])

In [21]:
cust_prod.head()

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0

## Training a Recurrent Neural Network

In [22]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

### Creating X and Y

In [40]:
val_data = mt[['order_id','product_id','add_to_cart_order','reordered']]
val_data= val_data.sort_values(by=['order_id','add_to_cart_order'])
val_data.head(10)

        order_id  product_id  add_to_cart_order  reordered
0              1       49302                  1          1
55240          1       11109                  2          1
68060          1       10246                  3          0
68061          1       49683                  4          0
218669         1       43633                  5          1
221910         1       13176                  6          0
221911         1       47209                  7          0
372383         1       22035                  8          1
808846        36       39612                  1          0
710055        36       19660                  2          1

In [38]:
input_data = order_prior[['order_id','product_id','add_to_cart_order','reordered']]
input_data= input_data.sort_values(by=['order_id','add_to_cart_order'])[0:100000]
input_data.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [41]:
last_id = -1
max_order = 0
current_order = 0
for order in input_data.values:
    if order[0]!=last_id:
        if current_order > max_order:
            max_order = current_order
        current_order = 0
        last_id = order[0]
    else:
        current_order = current_order+1

print(max_order)

64

In [42]:
last_id = -1
max_order = 0
current_order = 0
for order in val_data.values:
    if order[0]!=last_id:
        if current_order > max_order:
            max_order = current_order
        current_order = 0
        last_id = order[0]
    else:
        current_order = current_order+1

print(max_order)

79

The longest sequence of orders consists of 79 single orders

In [45]:
last_id = -1
order_seq = []
reorder_seq = []
v_order_seq = []
v_reorder_seq = []
maxlen = 80
for order in input_data.values:
    if order[0]!=last_id:
        neworder = [0]*maxlen
        reorder  = [0]*maxlen
        neworder[0] = order[1]
        reorder[0]  = order[3]
        order_seq.append(neworder)
        reorder_seq.append(reorder)
        last_id = order[0]
        c=0
    else:
        c=c+1
        neworder[c]=order[1]
        reorder[c] = order[3]
        
for order in input_data.values:
    if order[0]!=last_id:
        neworder = [0]*maxlen
        reorder  = [0]*maxlen
        neworder[0] = order[1]
        reorder[0]  = order[3]
        v_order_seq.append(neworder)
        v_reorder_seq.append(reorder)
        last_id = order[0]
        c=0
    else:
        c=c+1
        neworder[c]=order[1]
        reorder[c] = order[3]

print(order_seq[0])
print(reorder_seq[0])
order_seq = np.asarray(order_seq)
print (len(order_seq))

[33120, 28985, 9327, 45918, 30035, 17794, 40141, 1819, 43668, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
9966

### Creating the Model

In [27]:
model = Sequential()
model.add(LSTM(100, input_shape=(80,1)))
model.add(Dense(80, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
lstm_1 (LSTM)                    (None, 100)           40800       lstm_input_1[0][0]
____________________________________________________________________________________________________
dense_1 (Dense)                  (None, 80)            8080        lstm_1[0][0]
====================================================================================================
Total params: 48,880
Trainable params: 48,880
Non-trainable params: 0
____________________________________________________________________________________________________
None

In [44]:
model.fit(np.asarray(order_seq).reshape(-1,80,1),
          np.asarray(reorder_seq).reshape(-1,80), 
          validation_data=(np.asarray(v_order_seq).reshape(-1,80,1),
                           np.asarray(v_reorder_seq).reshape(-1,80)),nb_epoch=1, 
          batch_size=128)

Train on 9966 samples, validate on 9966 samples
Epoch 1/1
9966/9966 [==============================] - 50s - loss: 0.0892 - acc: 0.9508 - val_loss: 0.0889 - val_acc: 0.9511

## Now try to predict

In [ ]:
test = orders[orders['eval_set']=='test']
#test = pd.merge(test,prior, on = ['order_id','order_id'])

#test = pd.merge(test,products, on = ['product_id','product_id'])
#test = pd.merge(test,aisles,on=['aisle_id','aisle_id'])
test= test.sort_values(by=['order_id','order_number'])
test.head()

In [ ]:
prior[prior['order_id']==17]

### Using PCA to Clusterize Customers

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=6)
pca.fit(cust_prod)

# TODO: Transform the sample log-data using the PCA fit above
pca_samples = pca.transform(cust_prod)

# Generate PCA results plot
#pca_results = vs.pca_results(good_data, pca)

In [ ]:
ps = pd.DataFrame(pca_samples)
ps.head()

In [ ]:
dpts = pd.read_csv('../input/departments.csv')
dpts.head()

In [ ]:
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from mpl_toolkits.mplot3d import proj3d
tocluster = pd.DataFrame(ps[[0,1]][0:2000])


fig = plt.figure(figsize=(8,8))
plt.plot(tocluster[0], tocluster[1], 'o', markersize=7, color='blue', alpha=0.5, label='class1')

plt.xlabel('x_values')
plt.ylabel('y_values')
plt.legend()
plt.show()

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

clusterer = KMeans(n_clusters=10,random_state=42).fit(tocluster)
centers = clusterer.cluster_centers_
print(centers)

In [ ]:
fig = plt.figure(figsize=(8,8))
plt.plot(ps[0][0:2000], ps[1][0:2000], 'o', markersize=7, color='blue', alpha=0.5)
for ci,c in enumerate(centers):
    plt.plot(c[0], c[1], 'o', markersize=10, color='red', alpha=0.9, label=''+str(ci))

plt.xlabel('x_values')
plt.ylabel('y_values')
plt.legend()
plt.show()

In [ ]:
import hypertools as hyp
tocluster = pd.DataFrame(ps[[0,1]][0:2000])
hyp.plot(tocluster,'o', n_clusters=10)

In [ ]:
cust_prod.shape

In [ ]:
np.correlate(ps[0],cust_prod[0])